@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Morabba';
  src: url('/fonts/Morabba-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Morabba';
  src: url('/fonts/Morabba-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-navy text-cream;
  }

  h1, h2, h3 {
    @apply font-morabba;
  }
}
